name: Build docs

# Runs on pushes targeting the default branch
on:
  push:
    branches:
    - main
  pull_request:
    branches:
    - main

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# Cancel in-progress runs when pushing a new commit on the PR
concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

# Sets permissions of the GITHUB_TOKEN to allow deployment to GitHub Pages
permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  docs:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup Pages
        uses: actions/configure-pages@v5
      - name: Create and setup mamba
        uses: mamba-org/setup-micromamba@v2
        with:
          # here we specify the environment like this instead of just installing with pip to make caching easier
          environment-file: .github/env-docs.yml
          environment-name: test
          cache-environment: true
          cache-environment-key: environment-docs
          condarc: |
            channels:
              - conda-forge
          create-args: >-
            python=3.12
            pytorch=2.4
            pandoc=3.6.4
      - name: Install franken
        # conda setup requires this special shell
        shell: bash -l {0}
        # dependencies are handled in conda env
        run: |
          python -m pip install . --no-deps
          micromamba list

      - name: Sphinx build
        run: |
          sphinx-build docs _build

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: '_build/'

      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
